.loader {
    z-index: 99999;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    animation-name: fade;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.loader h1 {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        pointer-events: none;
    }
}

body {
    overflow: hidden;

    animation-name: addscroll;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes addscroll {
    from {
        overflow: hidden;
    }

    to {
        overflow: auto;
    }
}
